<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>System security</title>
       {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script src="{% static 'js/scripts.js' %}"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="#"><img src="path_to_your_image.jpg"
                                alt="Link to another page"></a></li>
                    <li><a href="#">Project</a></li>
                    <li><a href="#">Name</a></li>
                    <li><a href="#">Doc</a></li>
                    <li><a href="#">Account</a></li>
                </ul>
            </nav>

        </header>
        <div class="HeaderNext ">
            <nav>
                <ul>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Account</a></li>
                </ul>
            </nav>
        </div>

        <div id="main">
            <form action="/search" method="get">
                <input type="text" id="shortText" name="shortText"
                    placeholder="Nhập gì đó">
                <button type="submit"><img src="path_to_your_logo.png"
                        alt="Tìm kiếm"></button>
            </form>

            <div class="tab-container">
                <button class="tablink" onclick="openTab(event, 'tab1')">Web
                    cam</button>
                <button class="tablink"
                    onclick="openTab(event, 'tab2')">Count</button>
                <button class="tablink" onclick="openTab(event, 'tab3')">Save
                    image</button>

                <div id="tab1" class="tabcontent">
                    <div class="container">
                        <div class="container">
                            <div class="box" id="box1" style="width: 110px;">
                                <div class="custom-upload">
                                    <form id="uploadForm"
                                        enctype="multipart/form-data">
                                        <label for="videoFile"
                                            class="custom-file-upload">
                                            <span>Chọn video</span>
                                            <input type="file" id="videoFile"
                                                accept="video/*"
                                                name="videoFile">
                                        </label>
                                    </form>
                                </div>
                                <button>try web cam</button>
                                <button>try web cam</button>
                            </div>
                            <div id="box2" class="box" style="width: 550px;">
                            <!--    <video height="300px" controls muted>
                                    <source src="../../Video_Test/Video1.mp4"
                                        type="video/mp4">
                                </video>
                                 -->
                                <div id="webcam-feed">
                                    <img src="{% url 'webcam_feed' %}" height="350px" width="500px" alt="Webcam Feed">
                                </div>
                               
                            </div>
                            <div class="box" id="box3" style="width: 110px;">
                                <div class="slider-container">
                                    <p>Value: <span id="sliderValue">0</span></p>
                                    <input type="range" min="0" max="100"
                                        value="0" class="slider"
                                        id="mySlider">
                                </div>
                                <div class="slider-container">
                                    <p>Value: <span id="sliderValue">0</span></p>
                                    <input type="range" min="0" max="100"
                                        value="50" class="slider"
                                        id="mySlider">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab2" class="tabcontent">
                    <canvas id="salesChart" width="700px"
                        height="400px"></canvas>
                </div>

                <div id="tab3" class="tabcontent">
                    <ul class="image-list">
                        <li><img src="image/image1.png" alt="Image 1"></li>
                        <li><img src="image/image1.png" alt="Image 2"></li>
                        <li><img src="image/image1.png" alt="Image 3"></li>
                    </ul>
                </div>
            </div>
        </div>
        

    </body>
</html>