.active {
  font-weight: bold;
  /* hoặc bất kỳ phong cách nào bạn muốn áp dụng */
}

.Slider {
  height: 650px;
  width: 100%;
  background-color: antiquewhite;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Camera {
  display: flex;
  flex-direction: column;
}

.FooterRight a {
  margin: 20px;
}

.FooterRight a img {
  border-radius: 50px;
}

#Slider1 {
  background-image: url('/public/camera-an-ninh.jpg');
  background-size: cover;
  background-position: center;
}

#Slider2 {
  background-image: url('/public/camera-outdoor-banner.jpg');
  background-size: cover;
  background-position: center;
}

#Slider3 {
  background-image: url('/public/camera-an-ninh2.jpg');
  background-size: cover;
  background-position: center;
}

.Slider h1,
.Slider label {
  color: aliceblue;
  margin: 10px;
}

.Content {
  background-color:aquamarine;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-top: 30px;
  height: 600px
}