body{
    background-color: #111827;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(31, 41, 55);
    /* Màu nền header */
    color: #fff;
    /* Màu chữ của header */
    padding: 10px 0;
    /* Khoảng cách giữa nội dung và viền header */
    z-index: 1000;
    /* Đảm bảo header hiển thị trên các phần tử khác */
    
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

nav ul {
    list-style-type: none;
    /* Loại bỏ dấu đầu dòng của danh sách */
    padding: 0;
    /* Xóa padding mặc định của danh sách */
}

nav ul li {
    display: inline;
    margin-right: 10px;

}

nav ul:first-child {
    margin-left: 10px;
}

header nav ul li a {

    text-decoration: none;
    /* Loại bỏ gạch chân mặc định */
    color: white;
    /* Màu văn bản */
    padding: 10px 10px;
    /* Khoảng cách giữa nội dung và viền */
    transition: background-color 0.3s;
}

header nav ul li a:hover {

    background-color: rgba(240,240,240,0.4)
}
.HeaderNext {
    position: fixed;
    background-color: rgb(31, 41, 55);
    height: 500px;
    width: 200px;
    top: 100px;
    border-radius: 10px;
    left: 5px;
}

.HeaderNext ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.centered-link {
   
    justify-content: center;
    align-items: center;
}